//====== CONTACT FORM STYLES ======//
.contact-form {
  background: $light-background;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $shadow;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  transition: all $transition;

  h2 {
    font-size: 32px;
    color: $dark-color;
    margin-bottom: 20px;
  }

  input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid $light-border;
    background: rgba(255, 255, 255, 0.5);
    color: $dark-color;
    transition: all $transition;

    &:focus {
      border-color: $accent-color;
      box-shadow: 0px 4px 10px $shadow-color;
    }
  }

  button {
    background: linear-gradient(135deg, #cc95af, #a06a79);
    color: $light-color;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all $transition;
    box-shadow: 0 4px 10px $shadow-color;
    margin-top: 10px;

    &:hover {
      background: linear-gradient(45deg, $hover-primary, $hover-secondary);
      transform: translateY(-2px);
      box-shadow: 0 6px 15px $shadow-hover;
    }
  }
}

// Dark Mode Adjustments
.dark-mode .contact-form {
  background: $dark-background;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

  h2 {
    color: $light-color;
  }

  input, textarea {
    background: rgba(255, 255, 255, 0.1);
    color: $light-text-color;
    border: 1px solid $dark-border;
  }

  button {
    background: linear-gradient(135deg, #a9687b, #b33e70);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

    &:hover {
      background: linear-gradient(45deg, darken($hover-primary, 25%), darken($hover-secondary, 25%));
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    }
  }
}
